@model feria.Models.VentaArticulo

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>VentaArticulo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PrecioSalida)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrecioSalida)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrecioVenta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrecioVenta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Articulo.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Articulo.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comprador.NombreUsuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comprador.NombreUsuario)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
