@model feria.Models.VentaArticulo

@{
    ViewBag.Title = "Pujar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Pujar</h2>


@using (Html.BeginForm())
{

    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div>

            <h4>Articulo</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.IDarticulo)

            <div class="form-group">

                @Html.LabelFor(model => model.Articulo.IDvendedor, "IDvendedor", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DisplayFor(model => model.Articulo.Vendedor.NombreUsuario)
                </div>
            </div>
            <div class="form-group">

                @Html.LabelFor(model => model.IDcomprador, "IDusuario", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DisplayFor(model => model.IDcomprador)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Articulo.Descripcion, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">

                    @Html.DisplayFor(model => model.Articulo.Descripcion)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Articulo.FechaIngreso, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">

                    @Html.DisplayFor(model => model.Articulo.FechaIngreso)
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Precio salida", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DisplayFor(model => model.PrecioSalida)

                </div>
            </div>
            <div class="form-group">
                @Html.Label("Puja Actual ", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.PrecioVenta, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PrecioVenta, "", new { @class = "text-danger" })
                </div>
            </div>


        </div>



        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

