@model IEnumerable<feria.Models.Articulo>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaIngreso)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaSalida)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vendedor.NombreUsuario)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaIngreso)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaSalida)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Vendedor.NombreUsuario)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IDarticulo }) |
            @Html.ActionLink("Details", "Details", new { id=item.IDarticulo }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IDarticulo })
        </td>
    </tr>
}

</table>
0